name: Build and push docker image

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login ghcr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: echo "$GITHUB_TOKEN" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Build and Push Image
        run: |
          docker buildx build \
                  --tag ghcr.io/${{ github.repository_owner }}/ministral:latest \
                  --tag ghcr.io/${{ github.repository_owner }}/ministral:"$GITHUB_SHA" \
                  --platform linux/amd64,linux/arm64/v8 \
                  --file ./Dockerfile \
                  --output type=image,push=true .
